/*CONTENENDOR DONDE SE MOSTRARAN LOS PRODUCTOS*/

.container {
    background-color: rgb(230, 226, 226);
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center; 
    padding: 25px;
}


/*ESTILO DE LA CARD PARA LOS PRODUCTOS*/

.card {
    width: 250px;
    height: 450px;
}

.text-description {
    height: 80px;
    font-size: 13px !important;
    overflow-y: auto;
  }

  .modal-details {
    width: 100%;
    height: 100%;
    background-color: greenyellow;
  }
